version: "3"
services:
  send-legal-mail-to-prisons-api:
    image: quay.io/hmpps/send-legal-mail-to-prisons-api
    networks:
      - hmpps
    container_name: send-legal-mail-to-prisons-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev,stdout,postgres
      - SPRING_DATASOURCE_URL=jdbc:postgresql://send-legal-mail-api-db:5432/send_legal_mail_api_db
      - HMPPS_AUTH_URL=http://host.docker.internal:9090/auth
      - PRISONER_SEARCH_URL=http://send-legal-mail-api-wiremock:8080
      - PRISON_REGISTER_URL=https://prison-register-dev.hmpps.service.justice.gov.uk
      - APP_S3_LOCALSTACKURL=localstack
      - SPRING_REDIS_HOST=send-legal-mail-api-cache

  send-legal-mail-api-db:
    image: postgres:15.15
    networks:
      - hmpps
    container_name: send-legal-mail-api-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=send_legal_mail_api_db

  send-legal-mail-api-cache:
    image: redis
    networks:
      - hmpps
    container_name: send-legal-mail-api-cache
    ports:
      - '6378:6378'
    command: --port 6378

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack
    ports:
      - "4566-4597:4566-4597"
    environment:
      - SERVICES=s3
      - DEBUG=${DEBUG- }
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  wiremock:
    image: wiremock/wiremock:3.13.2
    container_name: send-legal-mail-api-wiremock
    networks:
      - hmpps
    ports:
      - "9092:8080"

networks:
  hmpps:
